<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Find in the menu above all the links to manage the application.</p>
  <p>
    <%= button_to 'About', root_path, class: 'btn btn-primary btn-lg', method: :get %>
  </p>
</div>