<%= render 'layouts/list_header_title', title: 'Book owners' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <tr>
          <th>Nome</th>
          <th>Proprietário</th>
        </tr>

        <% @books.each do |book| %>
            <tr>
              <td><%= book.name %></td>
              <td><%= book.nomeusers %></td>
            </tr>
        <% end %>

      </table>

    </div>

  </div>

</div>