<h1>Consultas</h1>

<p>
  <%= link_to 'Top 3 títulos', top_titles_queries_path %>
</p>

<p>
  <%= link_to 'Top 3 contribuidores', top_contributors_queries_path %>
</p>

<p>
  <%= link_to 'Top 3 livros trocados', top_exchanged_books_queries_path %>
</p>