<%= render 'layouts/list_header_title', title: 'Pagenometer' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <tr>
          <th>Nome</th>
          <th>Páginas</th>
        </tr>

        <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.pages.to_i %></td>
            </tr>
        <% end %>

      </table>

    </div>

  </div>

</div>